services:
  app:
    build: .
    ports:
      - "8075:8075"
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    depends_on:
      - postgres
    restart: unless-stopped

  postgres:
    image: postgres:13-alpine
    environment:
      POSTGRES_DB: pgdb
      POSTGRES_USER: seeewo4kin
      POSTGRES_PASSWORD: Xyivrot123
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

volumes:
  postgres_data: